* {
    font-family: Helvetica;
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #262626;
}

.hiddenCan {
    width: 100%;
    max-width: 1680px;
    min-height: 100vh;
    margin: 0 auto;
    /* border: 5px solid white; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;

}

.nav-left img {
    padding: 0;
    width: 300px;
    height: auto;
}

.nav-right ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.nav-right li a {
    text-decoration: none;
    /* color: white; */
    font-size: 1.3rem;
}

.nav-right li a:hover {
    color: #5b8731;
}

#nav-btn{
    padding: 12px;
    background-color: #2a641c;
    color: white;
    font-size: 1.3rem;
    border: none;
    /* border: 3px solid white; */
    /* border-radius: 8px; */
    margin: 0px;
    cursor: pointer;
}

#nav-btn:hover {
    background-color: rgb(105, 155, 59);
    color: #ffffff;
}

#nav-btn:active{
    background-color: #5b8731;
    color: white;
}

.nav-right li {
    list-style: none;
}



.main-con{
    margin-top: 40px;
    padding-left: 20px;
    width: 100%;
    height: 690px;
    background-color: #2a641c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.con-right{
    /* background-color: black;
    border: 5px solid white; */
    height: 690px;
}

.con-right img{
  width: 100%;
  /* max-width: 100%; */
  object-fit: cover;
  height: 690px;
  padding-left: 0;
  /* display: block; */
}

.con-left
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-box button{
    width: 135px;
    height: 70px;
    font-size: 1.3rem;
    color: white;
    background-color: #262626;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 50px;
}

.btn-box button:hover{
    border: 3px solid white;
}

.btn-box button:active{
    background-color: #2a641c;
}



.text-box h1,
.text-box p{
    margin: 0;

}


.text-box p{
    font-size: 1.1rem;
}

.text-box h1{
    font-size: 7rem;
    line-height: 0.9;
    margin-top: 24px;
    margin-bottom: 24px;
}

 .text-box span{
    /* display: block; */
    line-height: 0.7;
    font-size: 3rem;
 }

 article{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 20px;
 }

 .art-head{
    font-size: 3rem;
    text-align: center;
    
 }

 .art-post{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .info-post{
    width: 380px;
    height: 380px;
    border: 4px solid #2a641c;
    border-radius: 8px;
    overflow: hidden;
 }

 .info-post img{
    width: 380px;
    height: 380px;
    object-fit: cover;
    display: block;
 }